<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About Coastal Scents🌴 </h5>
          <p>We Deal with Arabian and English perfume. Free delivery and Pick-up mtaani.</p>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>Email: brianorina45@gmail.com</p>
          <p>Phone: +254742141100</p>
          <p>Location: Mombasa, Kenya</p>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <a href="https://www.instagram.com/coastal_scents.ke?utm_source=qr&igsh=N3Fwbjgxbmx2NmY4" class="text-white" target="_blank">📷 Instagram</a><br>
          <p>🎵 TikTok: <a href="https://www.tiktok.com/@coastalscents_001?_t=ZM-8vaYHAGfw9u&_r=" target="_blank">Visit Page</a></p>
        </div>
      </div>


     
  
      <!-- 👇 Add this here -->
      <div class="text-center mt-4">
        <a href="{% url 'store:about' %}" class="text-white">About</a> |
        <a href="{% url 'store:contact' %}" class="text-white">Contact</a>
        <div class="text-center mt-3">
          <a href="#" class="btn btn-light btn-sm">⬆️ Back to Top</a>


           <!-- Footer -->
    
      
        </div>
      </div>
      &copy; 2025 Coastal Scents🌴. All rights reserved.
    </div>
  </footer>
  